.servoy-chart {
  position: relative;
  background: inherit;
  overflow: hidden;
  color: #1C3857; }
  .servoy-chart .visible-chart {
    background: transparent;
    overflow: hidden;
    position: relative; }
  .servoy-chart .chart,
  .servoy-chart .chart2 {
    background: #D2D7DE;
    border-radius: 50%;
    position: absolute;
    overflow: hidden; }
    .servoy-chart .chart .slice,
    .servoy-chart .chart2 .slice {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease; }
    .servoy-chart .chart .slice > span,
    .servoy-chart .chart2 .slice > span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      background: #40B1D9; }
    .servoy-chart .chart .chart-center,
    .servoy-chart .chart2 .chart-center {
      background: #fff;
      position: absolute;
      border-radius: 50%; }
  .servoy-chart .number {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    background: inherit; }
    .servoy-chart .number span {
      position: absolute;
      font-size: 18%;
      line-height: 1;
      width: 100%;
      left: 0;
      margin-top: 25%; }
  .servoy-chart .chart .chart-center:after {
    left: -22px;
    top: 50%;
    margin-top: -7px;
    position: absolute;
    border: 7px solid transparent;
    border-right: 15px solid #1C3857;
    content: ' '; }
  .servoy-chart .chart2 {
    background: #D2D7DE; }
    .servoy-chart .chart2 .slice > span {
      background: #98CB80; }
    .servoy-chart .chart2 .chart-center {
      background: #fff; }
  .servoy-chart .range {
    padding-top: 5px; }
    .servoy-chart .range.min {
      float: left; }
    .servoy-chart .range.max {
      float: right; }
